<!-- Bluesky comments -->
<!-- Courtesy of @coryzue.com -->
<script type="module">
    import BlueskyComments from 'https://unpkg.com/bluesky-comments@0.5.0/dist/bluesky-comments.es.js';
    document.addEventListener('DOMContentLoaded', function() {
    const author = 'eibhei.beod.co.uk';
    if (author) {
        BlueskyComments.init('bluesky-comments', {
        author,
        onEmpty: (details) => {
            console.error('Failed to load comments:', details);
            document.getElementById('bluesky-comments').innerHTML =
            'No comments on this post yet. Details: ' + details.message;
            },
        });
        }
    });
</script>
