<!-- Bluesky comments -->
<!-- Courtesy of @coryzue.com -->
<script type="importmap">
    {
      "imports": {
        "react": "https://esm.sh/react@18",
        "react-dom": "https://esm.sh/react-dom@18"
      }
    }
</script>
<script type="module">
    import BlueskyComments from 'https://unpkg.com/bluesky-comments@0.5.0/dist/bluesky-comments.es.js';
    document.addEventListener('DOMContentLoaded', function() {
    const author = 'eibhei.beod.co.uk';
        BlueskyComments.init('bluesky-comments', {
        author,
        onEmpty: (details) => {
            console.error('Failed to load comments:', details);
            document.getElementById('bluesky-comments').innerHTML =
            'No comments on this post yet. Details: ' + details.message;
            },
        });
    });
</script>
